*{
  margin: 0;
padding: 0;
font-family: Century Gethic;
}
header.Service{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(about.jpg);
    height: 100vh;
    background-size:cover;
    background-position:center;
  }
  {
    
  }
